<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>AAB</name>
	<description>
		This app is really nice
	</description>

	<author email="joao.m.alexandre@gmail.com" href="https://phonegap.com">
	   PhoneGap Team
	</author>

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>
